# BRICS_final

#### This script contains

    1.data wrangling
    2.quality and consistency checks
    4.exploring relationships
    04 Regression

In [1]:
!pip install --upgrade bottleneck

Requirement already satisfied: bottleneck in c:\users\lenovo\anaconda3\lib\site-packages (1.3.7)
Requirement already satisfied: numpy in c:\users\lenovo\anaconda3\lib\site-packages (from bottleneck) (1.24.3)

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
import os
import sklearn
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import math

In [3]:
path = r'C:\Users\Lenovo\OneDrive\Dokumente\CareerFoundry\Data Immersion\6. Advanced Analytics and Dashboard Design'

In [4]:
# Import Data
df = pd.read_csv(os.path.join(path, 'BRICS', '02 Data', 'Prepared Data', 'world_hapiness_joined.csv'))

## 1. Data wrangling

    Renaming columns

###  Renaming columns

In [5]:
# checking shape
df.shape

(231, 25)

In [6]:
# checking columns
df.head()

,Unnamed: 0.1,country,date,Unnamed: 0,continent,least_developed,life_expectancy,population,co2_emissions,health_expenditure,...,open_defecation,drinking_water,obesity_among_adults,beer_cons_per_capita,account_balance,account_balance_GDP,debt_GDP,population1,gdp,share_of_world_GDP_ppp
0,0,Brazil,2000-01-01,294,South America,False,70.116,174790339,1.794550,8.334593,...,8.910026,93.471528,13.5,3.34050,-26.784,-4.467,NaN,171.256,599.642,3.144
1,1,Brazil,2001-01-01,295,South America,False,70.462,177196051,1.802410,8.549606,...,8.367750,93.814337,14.0,3.35201,-26.531,-4.048,65.561,173.766,655.454,3.132
2,2,Brazil,2002-01-01,296,South America,False,70.813,179537523,1.769881,8.696857,...,7.845655,94.142485,14.5,3.31994,-24.890,-4.445,70.054,176.209,559.982,3.101
3,3,Brazil,2003-01-01,297,South America,False,71.170,181809244,1.709539,8.188999,...,7.334106,94.463523,15.0,3.17642,-9.407,-1.845,78.798,178.499,509.798,3.108
4,4,Brazil,2004-01-01,298,South America,False,71.531,184006479,1.785372,8.124920,...,6.833189,94.777359,15.5,3.21237,2.193,0.393,73.823,180.708,558.232,3.021

In [7]:
# checking for mixed data types
for col in df.columns.tolist():
  weird = (df[[col]].apply(lambda x: type(x.iloc[0]) != type(x), axis=1))
  if len (df[weird]) > 0:
    print (col)

Unnamed: 0.1
country
date
Unnamed: 0
continent
least_developed
life_expectancy
population
co2_emissions
health_expenditure
electric_power_consumption
forest_area
gdp_per_capita
internet_users
military_exp
open_defecation
drinking_water
obesity_among_adults
beer_cons_per_capita
account_balance
account_balance_GDP
debt_GDP
population1
gdp
share_of_world_GDP_ppp

In [8]:
# checking data types
df.dtypes

Unnamed: 0.1                    int64
country                        object
date                           object
Unnamed: 0                      int64
continent                      object
least_developed                  bool
life_expectancy               float64
population                      int64
co2_emissions                 float64
health_expenditure            float64
electric_power_consumption    float64
forest_area                   float64
gdp_per_capita                float64
internet_users                float64
military_exp                  float64
open_defecation               float64
drinking_water                float64
obesity_among_adults          float64
beer_cons_per_capita          float64
account_balance               float64
account_balance_GDP           float64
debt_GDP                      float64
population1                   float64
gdp                           float64
share_of_world_GDP_ppp        float64
dtype: object

In [9]:
# Einen Tag von der 'date'-Spalte abziehen
df['date'] = pd.to_datetime(df['date']) - pd.Timedelta(days=1)

# Konvertiere die Spalte 'date' in ein DateTime-Objekt
df['date'] = pd.to_datetime(df['date'])

# Setze die Spalte 'date' als Index
df.set_index('date', inplace=True)

# Extrahiere das Jahr aus dem DateTime-Index und füge es als neue Spalte 'year' hinzu
df['year'] = df.index.year

In [10]:
df.describe(include='all')

,Unnamed: 0.1,country,Unnamed: 0,continent,least_developed,life_expectancy,population,co2_emissions,health_expenditure,electric_power_consumption,...,drinking_water,obesity_among_adults,beer_cons_per_capita,account_balance,account_balance_GDP,debt_GDP,population1,gdp,share_of_world_GDP_ppp,year
count,231.000000,231,231.000000,231,231,231.000000,2.310000e+02,231.000000,231.000000,176.000000,...,231.000000,187.000000,220.000000,231.000000,231.000000,227.000000,231.000000,231.000000,231.000000,231.00000
unique,NaN,11,NaN,5,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,Brazil,NaN,Europe,False,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,21,NaN,105,231,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,115.000000,NaN,1241.545455,NaN,NaN,74.918736,3.248316e+08,8.191583,8.653155,6442.636663,...,95.847600,19.459893,3.244569,-23.855727,0.111532,66.409040,322.611078,3376.527615,5.080139,2009.00000
std,66.828138,NaN,762.840314,NaN,NaN,7.391770,4.623197e+08,4.967648,3.333857,4535.839559,...,5.496441,8.767501,1.652558,179.737512,3.884077,29.606677,459.850148,4349.807245,5.104160,6.06845
min,0.000000,NaN,294.000000,NaN,NaN,53.444000,3.068573e+07,0.887014,2.858494,392.039693,...,80.461195,1.500000,0.065780,-816.647000,-5.911000,7.446000,30.367000,129.385000,0.618000,1999.00000
25%,57.500000,NaN,456.500000,NaN,NaN,70.778329,5.948928e+07,5.019614,5.440282,3207.736140,...,93.439704,17.600000,1.820000,-47.527500,-2.793500,41.522000,59.316500,1246.195000,2.425500,2004.00000
50%,115.000000,NaN,982.000000,NaN,NaN,77.992683,8.234867e+07,7.662605,8.696857,5715.978710,...,99.074887,21.200000,3.604880,-8.978000,-0.735000,67.546000,81.423000,1949.657000,3.116000,2009.00000
75%,172.500000,NaN,2063.500000,NaN,NaN,80.781707,2.941609e+08,10.961313,10.401273,7285.766275,...,99.934327,24.550000,4.200000,32.116500,1.919000,85.176500,292.061000,2842.022000,4.732000,2014.00000
max,230.000000,NaN,2394.000000,NaN,NaN,83.497561,1.411100e+09,20.469807,18.815826,17264.736740,...,100.000003,37.300000,7.161150,420.569000,16.309000,135.367000,1410.080000,21380.950000,20.437000,2019.00000

In [11]:
df.columns

Index(['Unnamed: 0.1', 'country', 'Unnamed: 0', 'continent', 'least_developed',
       'life_expectancy', 'population', 'co2_emissions', 'health_expenditure',
       'electric_power_consumption', 'forest_area', 'gdp_per_capita',
       'internet_users', 'military_exp', 'open_defecation', 'drinking_water',
       'obesity_among_adults', 'beer_cons_per_capita', 'account_balance',
       'account_balance_GDP', 'debt_GDP', 'population1', 'gdp',
       'share_of_world_GDP_ppp', 'year'],
      dtype='object')

#### Changing data types with panda function

In [12]:

# Hier sind die Spalten "column1" und "column2" diejenigen, die du umwandeln möchtest

df['gdp'] = df['gdp'].apply(pd.to_numeric, errors='coerce')
df['life_expectancy'] = df['life_expectancy'].apply(pd.to_numeric, errors='coerce')
df['population'] = df['population'].apply(pd.to_numeric, errors='coerce')
df['co2_emissions'] = df['co2_emissions'].apply(pd.to_numeric, errors='coerce')
df['health_expenditure'] = df['health_expenditure'].apply(pd.to_numeric, errors='coerce')
df['electric_power_consumption'] = df['electric_power_consumption'].apply(pd.to_numeric, errors='coerce')
df['forest_area'] = df['forest_area'].apply(pd.to_numeric, errors='coerce')
df['gdp_per_capita'] = df['gdp_per_capita'].apply(pd.to_numeric, errors='coerce')
df['internet_users'] = df['internet_users'].apply(pd.to_numeric, errors='coerce')
df['military_exp'] = df['military_exp'].apply(pd.to_numeric, errors='coerce')
df['open_defecation'] = df['open_defecation'].apply(pd.to_numeric, errors='coerce')
df['drinking_water'] = df['drinking_water'].apply(pd.to_numeric, errors='coerce')
df['obesity_among_adults'] = df['obesity_among_adults'].apply(pd.to_numeric, errors='coerce')
df['beer_cons_per_capita'] = df['beer_cons_per_capita'].apply(pd.to_numeric, errors='coerce')
df['account_balance'] = df['account_balance'].apply(pd.to_numeric, errors='coerce')
df['account_balance_GDP'] = df['account_balance_GDP'].apply(pd.to_numeric, errors='coerce')
df['debt_GDP'] = df['debt_GDP'].apply(pd.to_numeric, errors='coerce')
df['population1'] = df['population1'].apply(pd.to_numeric, errors='coerce')
df['share_of_world_GDP_ppp'] = df['share_of_world_GDP_ppp'].apply(pd.to_numeric, errors='coerce')

# 'errors'='coerce' setzt alle nicht umwandelbaren Werte auf NaN

In [13]:
df['gdp'].head()

date
1999-12-31    599.642
2000-12-31    655.454
2001-12-31    559.982
2002-12-31    509.798
2003-12-31    558.232
Name: gdp, dtype: float64

In [14]:
nan_counts_per_year = df.groupby('year').agg(lambda x: x.isna().sum().sum())



nan_counts_per_year_df = nan_counts_per_year.reset_index()
nan_counts_per_year_df
# betroffene spalten debt_GDP (2000 und 2001), obesity_among_adults(2017-20), beer_cons_per_capita (2020), electric_power_cinsumption

,year,Unnamed: 0.1,country,Unnamed: 0,continent,least_developed,life_expectancy,population,co2_emissions,health_expenditure,...,open_defecation,drinking_water,obesity_among_adults,beer_cons_per_capita,account_balance,account_balance_GDP,debt_GDP,population1,gdp,share_of_world_GDP_ppp
0,1999,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,3,0,0,0
1,2000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,2001,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2002,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2003,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,2004,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,2005,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,2006,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,2007,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,2008,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,2009,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,2010,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,2011,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,2012,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,2013,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,2014,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,2015,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,2016,0,0,0,0,0,0,0,0,0,...,0,0,11,0,0,0,0,0,0,0
18,2017,0,0,0,0,0,0,0,0,0,...,0,0,11,0,0,0,0,0,0,0
19,2018,0,0,0,0,0,0,0,0,0,...,0,0,11,0,0,0,0,0,0,0
20,2019,0,0,0,0,0,0,0,0,0,...,0,0,11,11,0,0,0,0,0,0

In [15]:
df.isnull().sum()

Unnamed: 0.1                   0
country                        0
Unnamed: 0                     0
continent                      0
least_developed                0
life_expectancy                0
population                     0
co2_emissions                  0
health_expenditure             0
electric_power_consumption    55
forest_area                    0
gdp_per_capita                 0
internet_users                 0
military_exp                   0
open_defecation                0
drinking_water                 0
obesity_among_adults          44
beer_cons_per_capita          11
account_balance                0
account_balance_GDP            0
debt_GDP                       4
population1                    0
gdp                            0
share_of_world_GDP_ppp         0
year                           0
dtype: int64

In [16]:
# drop columns
columns_to_drop = ['Unnamed: 0.1', 'Unnamed: 0', 'least_developed', 'electric_power_consumption', 'forest_area', 'population1' ]

# Verwende die drop-Methode, um die angegebenen Spalten zu entfernen
df.drop(columns=columns_to_drop, inplace=True)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 231 entries, 1999-12-31 to 2019-12-31
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   country                 231 non-null    object
 1   continent               231 non-null    object
 2   life_expectancy         231 non-null    float64
 3   population              231 non-null    int64
 4   co2_emissions           231 non-null    float64
 5   health_expenditure      231 non-null    float64
 6   gdp_per_capita          231 non-null    float64
 7   internet_users          231 non-null    float64
 8   military_exp            231 non-null    float64
 9   open_defecation         231 non-null    float64
 10  drinking_water          231 non-null    float64
 11  obesity_among_adults    187 non-null    float64
 12  beer_cons_per_capita    220 non-null    float64
 13  account_balance         231 non-null    float64
 14  account_balance_GDP     231 non-null    float64
 15  debt_GDP                227 non-null    float64
 16  gdp                     231 non-null    float64
 17  share_of_world_GDP_ppp  231 non-null    float64
 18  year                    231 non-null    int32
dtypes: float64(15), int32(1), int64(1), object(2)
memory usage: 35.2+ KB

In [18]:
df['country'].value_counts()

country
Brazil                21
Canada                21
China                 21
France                21
Germany               21
India                 21
Italy                 21
Russian Federation    21
South Africa          21
United Kingdom        21
United States         21
Name: count, dtype: int64

In [ ]:
# Identify the float64 columns
#float_columns = df.select_dtypes(include='float64').columns

# Replace dots with commas in float columns for display
#df[float_columns] = df[float_columns].applymap(lambda x: str(x).replace('.', ','))

In [19]:
## Export world_hapiness_final.csv!!! for Tableau with, instead of .

In [20]:
# save the dataframe as a csv in prepeared data folder
#df.to_csv(os.path.join(path, 'BRICS', '02 Data', 'Prepared Data', 'world_hapiness_final.csv'))

## 2. Quality & Consistency Checks

    quality checks
    consistency checks

### quality checks

#### mixed type variables

In [21]:
# checking for mixed data types
for col in df.columns.tolist():
  weird = (df[[col]].apply(lambda x: type(x.iloc[0]) != type(x), axis=1))
  if len (df[weird]) > 0:
    print (col)

country
continent
life_expectancy
population
co2_emissions
health_expenditure
gdp_per_capita
internet_users
military_exp
open_defecation
drinking_water
obesity_among_adults
beer_cons_per_capita
account_balance
account_balance_GDP
debt_GDP
gdp
share_of_world_GDP_ppp
year

#### missing values

In [22]:
# Check for columns with missing values
df.isnull().sum()

country                    0
continent                  0
life_expectancy            0
population                 0
co2_emissions              0
health_expenditure         0
gdp_per_capita             0
internet_users             0
military_exp               0
open_defecation            0
drinking_water             0
obesity_among_adults      44
beer_cons_per_capita      11
account_balance            0
account_balance_GDP        0
debt_GDP                   4
gdp                        0
share_of_world_GDP_ppp     0
year                       0
dtype: int64

In [23]:
# checking missing values by year
df.groupby(['year']).country.nunique()

year
1999    11
2000    11
2001    11
2002    11
2003    11
2004    11
2005    11
2006    11
2007    11
2008    11
2009    11
2010    11
2011    11
2012    11
2013    11
2014    11
2015    11
2016    11
2017    11
2018    11
2019    11
Name: country, dtype: int64

### Impute missing values

In [24]:

# Impute missed values by the average
for i in set(df['country'].unique()):
    mean1 = df.loc[df["country"] == i, 'beer_cons_per_capita'].mean()
    mean3 = df.loc[df["country"] == i, 'obesity_among_adults'].mean()
    mean4 = df.loc[df["country"] == i, 'health_expenditure'].mean()
    df['beer_cons_per_capita'].fillna(mean1, inplace=True)
    df['obesity_among_adults'].fillna(mean3, inplace=True)
    df['health_expenditure'].fillna(mean4, inplace=True)

df.isnull().sum()

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_106708\551427444.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['beer_cons_per_capita'].fillna(mean1, inplace=True)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_106708\551427444.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['obesity_among_adults'].fillna(mean3, inplace=True)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_106708\551427444.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['health_expenditure'].fillna(mean4, inplace=True)

country                   0
continent                 0
life_expectancy           0
population                0
co2_emissions             0
health_expenditure        0
gdp_per_capita            0
internet_users            0
military_exp              0
open_defecation           0
drinking_water            0
obesity_among_adults      0
beer_cons_per_capita      0
account_balance           0
account_balance_GDP       0
debt_GDP                  4
gdp                       0
share_of_world_GDP_ppp    0
year                      0
dtype: int64

In [25]:
df['country'].value_counts()

country
Brazil                21
Canada                21
China                 21
France                21
Germany               21
India                 21
Italy                 21
Russian Federation    21
South Africa          21
United Kingdom        21
United States         21
Name: count, dtype: int64

In [26]:
# Check for columns with missing values
df.isnull().sum()

# 4 missing values in debt_GDP

country                   0
continent                 0
life_expectancy           0
population                0
co2_emissions             0
health_expenditure        0
gdp_per_capita            0
internet_users            0
military_exp              0
open_defecation           0
drinking_water            0
obesity_among_adults      0
beer_cons_per_capita      0
account_balance           0
account_balance_GDP       0
debt_GDP                  4
gdp                       0
share_of_world_GDP_ppp    0
year                      0
dtype: int64

#### duplicate values

In [27]:
# creating a subset with duplicates
df_dups = df[df.duplicated()]

In [28]:
# checking for values in the subset
df_dups

# No duplicates found

Empty DataFrame
Columns: [country, continent, life_expectancy, population, co2_emissions, health_expenditure, gdp_per_capita, internet_users, military_exp, open_defecation, drinking_water, obesity_among_adults, beer_cons_per_capita, account_balance, account_balance_GDP, debt_GDP, gdp, share_of_world_GDP_ppp, year]
Index: []

### Consistency checks

#### value counts for categorical columns

In [29]:
df['country'].value_counts(dropna=False)

country
Brazil                21
Canada                21
China                 21
France                21
Germany               21
India                 21
Italy                 21
Russian Federation    21
South Africa          21
United Kingdom        21
United States         21
Name: count, dtype: int64

In [30]:
df.columns

Index(['country', 'continent', 'life_expectancy', 'population',
       'co2_emissions', 'health_expenditure', 'gdp_per_capita',
       'internet_users', 'military_exp', 'open_defecation', 'drinking_water',
       'obesity_among_adults', 'beer_cons_per_capita', 'account_balance',
       'account_balance_GDP', 'debt_GDP', 'gdp', 'share_of_world_GDP_ppp',
       'year'],
      dtype='object')

In [31]:
## plausible?

In [32]:
df.shape

(231, 19)

In [33]:
df['life_expectancy'].describe()

count    231.000000
mean      74.918736
std        7.391770
min       53.444000
25%       70.778329
50%       77.992683
75%       80.781707
max       83.497561
Name: life_expectancy, dtype: float64

## 3. Adding new columns

    Adding new column
    creating subsets g7 and brics

In [34]:
df.columns

Index(['country', 'continent', 'life_expectancy', 'population',
       'co2_emissions', 'health_expenditure', 'gdp_per_capita',
       'internet_users', 'military_exp', 'open_defecation', 'drinking_water',
       'obesity_among_adults', 'beer_cons_per_capita', 'account_balance',
       'account_balance_GDP', 'debt_GDP', 'gdp', 'share_of_world_GDP_ppp',
       'year'],
      dtype='object')

### health costs

In [35]:
# Annahme: df ist dein DataFrame

# Berechne die neuen Spaltenwerte
df['health_total'] = df['health_expenditure'] / 100 * df['gdp']
df['military_total'] = df['military_exp'] / 100 * df['gdp']
df['debt_total'] = df['debt_GDP'] / 100 * df['gdp']

# Anzeige des aktualisierten DataFrame
print(df.head())

           country      continent  life_expectancy  population  co2_emissions  \
date
1999-12-31  Brazil  South America           70.116   174790339       1.794550
2000-12-31  Brazil  South America           70.462   177196051       1.802410
2001-12-31  Brazil  South America           70.813   179537523       1.769881
2002-12-31  Brazil  South America           71.170   181809244       1.709539
2003-12-31  Brazil  South America           71.531   184006479       1.785372

            health_expenditure  gdp_per_capita  internet_users  military_exp  \
date
1999-12-31            8.334593     9050.494048        2.870685      1.730726
2000-12-31            8.549606     9255.634759        4.528495      1.951882
2001-12-31            8.696857     9560.575067        9.149425      1.895771
2002-12-31            8.188999     9737.277380       13.207586      1.503478
2003-12-31            8.124920    10448.313340       19.073672      1.461268

            open_defecation  ...  beer_cons_per_capita  account_balance  \
date                         ...
1999-12-31         8.910026  ...               3.34050          -26.784
2000-12-31         8.367750  ...               3.35201          -26.531
2001-12-31         7.845655  ...               3.31994          -24.890
2002-12-31         7.334106  ...               3.17642           -9.407
2003-12-31         6.833189  ...               3.21237            2.193

            account_balance_GDP  debt_GDP      gdp  share_of_world_GDP_ppp  \
date
1999-12-31               -4.467       NaN  599.642                   3.144
2000-12-31               -4.048    65.561  655.454                   3.132
2001-12-31               -4.445    70.054  559.982                   3.101
2002-12-31               -1.845    78.798  509.798                   3.108
2003-12-31                0.393    73.823  558.232                   3.021

            year  health_total  military_total  debt_total
date
1999-12-31  1999     49.977719       10.378161         NaN
2000-12-31  2000     56.038737       12.793692  429.722197
2001-12-31  2001     48.700836       10.615977  392.289790
2002-12-31  2002     41.747354        7.664699  401.710628
2003-12-31  2003     45.355903        8.157268  412.103609

[5 rows x 22 columns]

In [36]:
df.describe()

,life_expectancy,population,co2_emissions,health_expenditure,gdp_per_capita,internet_users,military_exp,open_defecation,drinking_water,obesity_among_adults,beer_cons_per_capita,account_balance,account_balance_GDP,debt_GDP,gdp,share_of_world_GDP_ppp,year,health_total,military_total,debt_total
count,231.000000,2.310000e+02,231.000000,231.000000,231.000000,231.000000,231.000000,231.000000,231.000000,231.000000,231.000000,231.000000,231.000000,227.000000,231.000000,231.000000,231.00000,231.000000,231.000000,227.000000
mean,74.918736,3.248316e+08,8.191583,8.653155,27225.486909,51.933188,2.091731,5.065497,95.847600,20.081538,3.261329,-23.855727,0.111532,66.409040,3376.527615,5.080139,2009.00000,373.474910,90.161292,2471.302204
std,7.391770,4.623197e+08,4.967648,3.333857,16264.370068,29.212535,0.980421,13.758290,5.496441,7.988317,1.614305,179.737512,3.884077,29.606677,4349.807245,5.104160,6.06845,687.787322,165.723754,4020.391616
min,53.444000,3.068573e+07,0.887014,2.858494,2093.265990,0.527532,0.884245,0.000000,80.461195,1.500000,0.065780,-816.647000,-5.911000,7.446000,129.385000,0.618000,1999.00000,10.116363,1.900421,41.145724
25%,70.778329,5.948928e+07,5.019614,5.440282,12565.277085,27.631058,1.332540,0.000000,93.439704,18.750000,1.880000,-47.527500,-2.793500,41.522000,1246.195000,2.425500,2004.00000,67.851408,20.100987,539.593660
50%,77.992683,8.234867e+07,7.662605,8.696857,29062.123870,58.141735,1.768887,0.000000,99.074887,22.500000,3.596532,-8.978000,-0.735000,67.546000,1949.657000,3.116000,2009.00000,170.162571,35.113911,1406.503499
75%,80.781707,2.941609e+08,10.961313,10.401273,40013.201450,76.990000,2.548724,1.944971,99.934327,23.350000,4.199745,32.116500,1.919000,85.176500,2842.022000,4.732000,2014.00000,290.015775,58.799394,2427.001008
max,83.497561,1.411100e+09,20.469807,18.815826,65120.394660,94.818201,5.425148,74.102948,100.000003,37.300000,7.161150,420.569000,16.309000,135.367000,21380.950000,20.437000,2019.00000,4023.002439,790.242013,23250.714078

#### adding brics flag

In [37]:
# creating new column and putting in values for brics and g7 countries

df['brics_flag'] = np.where(df['country'] == 'Brazil', 
                             'brics',
                             np.nan)
df['brics_flag'] = np.where(df['country'] == 'Russian Federation', 
                             'brics',
                             df['brics_flag'])
df['brics_flag'] = np.where(df['country'] == 'India', 
                             'brics',
                             df['brics_flag'])
df['brics_flag'] = np.where(df['country'] == 'China', 
                             'brics',
                             df['brics_flag'])
df['brics_flag'] = np.where(df['country'] == 'South Africa', 
                             'brics',
                             df['brics_flag'])

In [38]:
df['brics_flag'].value_counts()

brics_flag
nan      126
brics    105
Name: count, dtype: int64

#### adding g6 flag

In [39]:
# creating new column and putting in values for brics and g7 countries

df['g6_flag'] = np.where(df['country'] == 'United States', 
                             'g6',
                             np.nan)
df['g6_flag'] = np.where(df['country'] == 'United Kingdom', 
                             'g6',
                             df['g6_flag'])
df['g6_flag'] = np.where(df['country'] == 'France', 
                             'g6',
                             df['g6_flag'])
df['g6_flag'] = np.where(df['country'] == 'Italy', 
                             'g6',
                             df['g6_flag'])
df['g6_flag'] = np.where(df['country'] == 'Canada', 
                             'g6',
                             df['g6_flag'])
df['g6_flag'] = np.where(df['country'] == 'Germany', 
                             'g6',
                             df['g6_flag'])

In [40]:
df['g6_flag'].value_counts()

g6_flag
g6     126
nan    105
Name: count, dtype: int64

#### adding us_brics flag

In [41]:
# creating new column and putting in values for brics and g7 countries

df['us_brics_flag'] = np.where(df['country'] == 'Brazil', 
                             'brics',
                             np.nan)
df['us_brics_flag'] = np.where(df['country'] == 'Russian Federation', 
                             'brics',
                             df['us_brics_flag'])
df['us_brics_flag'] = np.where(df['country'] == 'India', 
                             'brics',
                             df['us_brics_flag'])
df['us_brics_flag'] = np.where(df['country'] == 'China', 
                             'brics',
                             df['us_brics_flag'])
df['us_brics_flag'] = np.where(df['country'] == 'South Africa', 
                             'brics',
                             df['us_brics_flag'])

df['us_brics_flag'] = np.where(df['country'] == 'United States', 
                             'us',
                             df['us_brics_flag'])

In [42]:
df['us_brics_flag'].value_counts()

us_brics_flag
brics    105
nan      105
us        21
Name: count, dtype: int64

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 231 entries, 1999-12-31 to 2019-12-31
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   country                 231 non-null    object
 1   continent               231 non-null    object
 2   life_expectancy         231 non-null    float64
 3   population              231 non-null    int64
 4   co2_emissions           231 non-null    float64
 5   health_expenditure      231 non-null    float64
 6   gdp_per_capita          231 non-null    float64
 7   internet_users          231 non-null    float64
 8   military_exp            231 non-null    float64
 9   open_defecation         231 non-null    float64
 10  drinking_water          231 non-null    float64
 11  obesity_among_adults    231 non-null    float64
 12  beer_cons_per_capita    231 non-null    float64
 13  account_balance         231 non-null    float64
 14  account_balance_GDP     231 non-null    float64
 15  debt_GDP                227 non-null    float64
 16  gdp                     231 non-null    float64
 17  share_of_world_GDP_ppp  231 non-null    float64
 18  year                    231 non-null    int32
 19  health_total            231 non-null    float64
 20  military_total          231 non-null    float64
 21  debt_total              227 non-null    float64
 22  brics_flag              231 non-null    object
 23  g6_flag                 231 non-null    object
 24  us_brics_flag           231 non-null    object
dtypes: float64(18), int32(1), int64(1), object(5)
memory usage: 46.0+ KB

### creating subsets

#### subset brics

In [44]:
df_brics = df.loc[ df['brics_flag'].isin(['brics'])]

#### subset g6

In [45]:
df_g6 = df.loc[ df['g6_flag'].isin(['g6'])]

#### United States

In [46]:
df_us_brics = df.loc[df['us_brics_flag'].isin(['us']) | df['us_brics_flag'].isin(['brics'])]

In [47]:
df_us_brics.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 126 entries, 1999-12-31 to 2019-12-31
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   country                 126 non-null    object
 1   continent               126 non-null    object
 2   life_expectancy         126 non-null    float64
 3   population              126 non-null    int64
 4   co2_emissions           126 non-null    float64
 5   health_expenditure      126 non-null    float64
 6   gdp_per_capita          126 non-null    float64
 7   internet_users          126 non-null    float64
 8   military_exp            126 non-null    float64
 9   open_defecation         126 non-null    float64
 10  drinking_water          126 non-null    float64
 11  obesity_among_adults    126 non-null    float64
 12  beer_cons_per_capita    126 non-null    float64
 13  account_balance         126 non-null    float64
 14  account_balance_GDP     126 non-null    float64
 15  debt_GDP                122 non-null    float64
 16  gdp                     126 non-null    float64
 17  share_of_world_GDP_ppp  126 non-null    float64
 18  year                    126 non-null    int32
 19  health_total            126 non-null    float64
 20  military_total          126 non-null    float64
 21  debt_total              122 non-null    float64
 22  brics_flag              126 non-null    object
 23  g6_flag                 126 non-null    object
 24  us_brics_flag           126 non-null    object
dtypes: float64(18), int32(1), int64(1), object(5)
memory usage: 25.1+ KB

#### G7

In [48]:
# creating g7 subset
df_g6 = df.loc[df['g6_flag'].isin(['g6'])]

In [49]:
# count values for g7 countries
df_g6['country'].value_counts(dropna=False)

country
Canada            21
France            21
Germany           21
Italy             21
United Kingdom    21
United States     21
Name: count, dtype: int64

In [50]:
#df_g6.describe()

##### Japanese data is missing!

#### BRICS

In [51]:
# creating brics subset
df_brics= df.loc[df['brics_flag'].isin(['brics'])]

In [52]:
# count values for brics countries
df_brics['country'].value_counts(dropna=False)

country
Brazil                21
China                 21
India                 21
Russian Federation    21
South Africa          21
Name: count, dtype: int64

In [ ]:
# BRICS Create a scatterplot using matplotlib for another look at how the chosen variables plot against each other.

df_brics.plot(x = 'military_exp', y='health_expenditure',style='o') # The style option creates a scatterplot; without it, we only have lines.
plt.title('military_exp and health_expenditure (BRICS)')  
plt.xlabel('military_exp')  
plt.ylabel('health_expenditure')  
plt.show()

In [ ]:
# Reshape the variables into NumPy arrays and put them into separate objects.

X_brics = df_brics['military_exp'].values.reshape(-1,1)
y_brics = df_brics['health_expenditure'].values.reshape(-1,1)

In [ ]:
# Split data into a training set and a test set.

X_train_brics, X_test_brics, y_train_brics, y_test_brics = train_test_split(X_brics, y_brics, test_size=0.3, random_state=0)

In [ ]:
# Create objects that contain the model summary statistics.

rmse_g7 = mean_squared_error(y_test_g7, y_predicted_g7) # This is the mean squared error
r2_g7 = r2_score(y_test_g7, y_predicted_g7) # This is the R2 score.

In [ ]:
# Print the model summary statistics. This is where you evaluate the performance of the model.

print('Slope:' ,regression_g7.coef_)
print('Mean squared error: ', rmse_g7)
print('R2 score: ', r2_g7)

In [ ]:
# Create a dataframe comparing the actual and predicted values of y.

data_g7 = pd.DataFrame({'Actual': y_test_g7.flatten(), 'Predicted': y_predicted_g7.flatten()})
data_g7.head(10)

In [ ]:
# Predict.

y_predicted_train_g7 = regression_g7.predict(X_train_g7) # This is predicting X_train!

In [ ]:
rmse2_g7 = mean_squared_error(y_train_g7, y_predicted_train_g7)
r22_g7 = r2_score(y_train_g7, y_predicted_train_g7)

In [ ]:
print('Slope:' ,regression_g7.coef_)
print('Mean squared error: ', rmse2_g7)
print('R2 score: ', r22_g7)

In [ ]:
# Visualizing the training set results.

plot_test_g7 = plt
plot_test_g7.scatter(X_train_g7, y_train_g7, color='green', s = 15)
plot_test_g7.plot(X_train_g7, y_predicted_train_g7, color='red', linewidth =3)
plot_test_g7.title('G7 military_exp vs health_expenditure  (Train set)')
plot_test_g7.xlabel('military_exp')
plot_test_g7.ylabel('health_expenditure')
plot_test_g7.show()

## Export world_hapiness_final_with_dots.csv

In [61]:
# save the  dataframe as a csv in prepeared data folder
df.to_csv(os.path.join(path, 'BRICS', '02 Data', 'Prepared Data', 'world_hapiness_final_with_dots.csv'))

In [63]:
# save the  dataframe as a csv in prepeared data folder
df_us_brics.to_csv(os.path.join(path, 'BRICS', '02 Data', 'Prepared Data', 'df_us_brics.csv'))